


<h1>Workshop-CodeScrum </h1> <br>


<div class="imagen_logo">
   <%= image_tag "Firstt.jpg", :alt => " ", :title => " "%>
</div>



<% 
=begin %>  <% <h2>Hola mundo!</h2>
<h3>Ñañita te amo</h3>
<h3> Probando funcionalidad </h3> %>
<% 
=end
 %>


<h2> You have an account? <%=link_to "Login" , new_user_session_path%> </h2> <br>
<h2> Still not registered? <%= link_to "Register here", new_user_registration_path%> </h2> <br>



